.white-button{
    color: white;
    height: 100%;
}

.white-button-b {
    composes: white-button;
    border-bottom: 1px white solid;
}

.white-button-t {
    composes: white-button;
    border-top: 1px white solid;
}

.date-mask {
    background-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 0;
    border-color: gainsboro;
}

.gradient-mask {
    background: linear-gradient(to bottom, #4c4c4c 0%,#1c1c1c 3%,#ffffff 30%,#ffffff 60%,#1c1c1c 97%,#4c4c4c 100%);
}

.custom-picker {
    width: 40px;
    background-color: #4c4c4c;
}

.layout {
    display: flex;
}
