:root {
    --item-height: 30px;
}

.border {
    min-width: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.layout {
    flex: 3 3;
    overflow-y: hidden;
    font-size: 15px;
    z-index: 9;
}

.number {
    width: 100%;
    text-align: center;
}

.move-up {
    transform: translate(0, calc(var(--item-height) * -1));
}

.move-down {
    transform: translate(0, var(--item-height));
}

.mask {
    top: 40%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
}

.button {
    flex: 1 1;
    border: 0;
    background-color: transparent;
    height: 100%;
    padding: 0;
}
